<tr class="total-points-row">
  <td><%= link_to item.title, list_item_path(list, item) %></td>
  <td><%= item.points %> <%= "Point".pluralize(item.points) %></td>
  <td><%= link_to "X", [list, item], :confirm => "Are you sure?", :method => :delete %>
  </td>
</tr>
