<h2>Your Lists:</h2>
<ul class="user-lists-ul">
  <% @lists.each do |list| %>
    <li><%= link_to "#{formatted_date(list.date)} -- Points: #{list.total_points}", list_path(list), class: "link" %>
    <a class="view-list__button" href="/lists/<%= list.id %>/show_js" data-id="<%= list.id %>"><i class="fas fa-eye"></i></a></li>
  <% end %>
</ul>
