<% if @list.items.empty? %>
  <h3>Add Your First Accomplishment:</h3>
<% else %>
  <h3>Accomplistments:</h3>
<% end %>
<ul>
    <% @list.items.each do |item| %>
    <li><%= item.title %>: <%= item.points %> Points</li>
    <% end %>
</ul>
