<h1 class="page-header"> Hey, <%= current_user.username %>!</h1>

  <%= render 'partials/table' %>

  <h2>Your Lists:</h2>

  <%= render 'lists_ul' %>


<% if !current_user.has_list_today? %>

  Let's get started! We'll automatically sort your lists by day so <%= render 'today_list_link' %> when you vist each day and add Acomplistments throughout the day.

<% end %>
