function List(obj) {
:id, :total_points, :user_id, :date
  this.id = obj.id;
  this.total_points = obj.total_points;
  this.user_id = obj.user_id;
  this.date = obj.date;
  this.formatted_date = moment(this.date).('dddd, MMMM Do YYYY');
  this.list_li = () => {
    const li = `<li><a class="link" href="/lists/${this.id}"> -- Points: 1</a></li>`;
  }
}

$(function() {

    $("#showListUl").on("click", function() {
      fetch("/lists")
        .then( resp => console.log(resp.json()))
    })

})
