<!-- Add an accomplishment page -->

<p><%= link_to lists_path do %>
  <i class="fas fa-long-arrow-alt-left"></i> Back
  <% end %></p>

<div class="show_day_container">

  <div class="todays_list_container">
    <%= render partial: 'lists/todays_existing_list', locals: {list: @list} %>
  </div>


  <div class="items_form_container">
    <%= render 'items/form' %>
  </div>

</div>
