<!-- Add an accomplishment page -->

<p><%= link_to lists_path do %>
  <i class="fas fa-long-arrow-alt-left"></i> Back
  <% end %></p>


<%= render partial: 'lists/todays_existing_list', locals: {list: @list} %>

<%= render 'items/item_form_header' %>
<%= render 'items/form' %>
