<!-- Add an accomplishment page -->

<p><%= link_to lists_path do %>
  <i class="fas fa-long-arrow-alt-left"></i> Back
  <% end %></p>

<div class="show_day_container">

  <div class="todays_list_container">
    <%= render partial: 'lists/todays_existing_list', locals: {list: @list} %>
  </div>


  <div class="items_form_container">
    <%= render 'items/form' %>
    <p>(Psst: Need new tag name ideas? Click <a class="link show-all-tags" href="/tags">here</a> to see all the tags we've seen people use.)</p>
    <div class="all-tags__container"></div>
  </div>

</div>
