<div>Thanks for checking out my site! Credit to my bud Brittany for thinking of the name.</div>
<ol>
  <li><%= link_to "https://twitter.com/jessmitchell42" do %>
    <i class="fab fa-twitter"></i>
    <% end %></li>
  <li><%= link_to "https://www.instagram.com/jessmitchell.art/" do %>
    <i class="fab fa-instagram"></i>
    <% end %></li>
  <li><%= link_to "https://github.com/jessmitch42" do %>
    <i class="fab fa-github"></i>
    <% end %></li>
</ol>
