<ol>
  <li><%= link_to "https://twitter.com/jessmitchell42" do %>
    <i class="fab fa-twitter"></i>
    <% end %></li>
  <li><%= link_to "https://www.instagram.com/jessmitchell.art/" do %>
    <i class="fab fa-instagram"></i>
    <% end %></li>
  <li><%= link_to "https://github.com/jessmitch42" do %>
    <i class="fab fa-github"></i>
    <% end %></li>
</ol>
<div>
  <div class="footer__text">jess mitchell &copy; 2018</div>
</div>
