<div class="header__container">
  <h1>Accomplist</h1>

  <ul class="site-header__nav-ul">
    <li><%= link_to "About", about_path %></li>
    <li>Sign Up</li>
    <li>Log In</li>
    <li>My Lists</li>
    <li>Log Out</li>
  </ul>

</div>
