<% if !current_user %>
  <h2 class="page-header" >Hey there, friend! </h2>

  <p>If this is your first time here, hey/how ya doing?</p>
  <p>Either way, <%= link_to "Sign Up", new_user_registration_path, :class => "link" %> or <%= link_to "Log In", new_user_session_path, :class => "link" %></li> to get going. </p>


<% else %>
  <h2 class="page-header" >Hey there! What should we do today to feel accomplished?</h2>
  <h2>Your Accomplists</h2>
  <table class="accomplist-table">
    <% 7.times do %>
      <tr>
        <% 52.times do %>
          <td class="accomplist-table__td"></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <p><%= link_to "Start a new list for today", user_list_path(current_user, current_user.todays_list), :class => "link" %></p>

  <h2>iterate through days so far</h2>

<% end %>
