<h1>Welcome to Accomplist!</h1>

<!-- if not logged it -->
<p>If this is your first time here, hey/how ya doing?</p>
<p>Either way, Sign Up or Login to get going. </p>

<!-- if logged in -->

<!-- show user's productivity table -->
<!-- my lists link -->
<!-- today's list link -->
