<h1>About Accomplist</h1>

<h2>What is Accomplist?</h2>
<p>Accomplist is an app for people looking to give themselves some credit for what they accomplish each day. </p>
<p>What counts as an accomplishment? That's up to you. If it felt like a victory, add it to your list!</p>

<h2>Who is Accomplist for?</h2>
<p>Anyone can use Accomplist but I think it will be especially helpful for anyone going through tough times. I got the idea from using my GitHub commit graph as daily motivation to keep working while I was feeling down for a few months.</p>
<figure>

  <%= image_tag "github.png", class:"image--large" %>
  <figcaption>My GitHub Contributions</figcaption>
</figure>
<p>I used to work in mental health services so I know personal goals can look drastically different for everyone. Things like getting out of bed, going for a walk to relieve anxiety, and making plans with friends when you're tempted to stay in (again) can be a big deal if you're having a tough time.</p>
<p>Sometimes you need a reminder that you're getting stuff done. Accomplist is a place to give yourself some cred for those victories!</p>
<p class="float-right"><i class="fas fa-heart"></i> jess</p>
