<h1>About Accomplist</h1>

<h2>What is Accomplist?</h2>
<p>Accomplist is an app for people looking to give themselves some credit for what they've accomplished each day. What counts as an accomplishment? That's up to you. Everything we do each day can each look like mountains to some people and little victories for others.</p>

<h2>Who is Accomplist for?</h2>
<p>Anyone can use Accomplist but I think it will be especially helpful for anyone going through tough times. I got the idea from using my GitHub commit graph to give me daily motivation to keep working while I was feeling down for a few months.</p>
<figure>
  <img src="/app/assets/images/github.png" alt="GitHub Contributons">
  <figcaption>My GitHub Contributions</figcaption>
</figure>
<p>I used to work in mental health services so I know personal goals can look drastically different for everyone. Things like getting out of bed, going for a walk to relieve anxiety, and making plans with friends when you'd tempted to stay in (again) can be a big deal if you're having a tough time.</p>
<p>Accomplist is a place to give yourself some cred for those victories!</p>
