$creme: #FFF3DE;
$peach: #FFCC9F;
$navy: #0A0A29;
$darkgreen: #2D4508;
$grey: #58525C;

// table colours
$blue-lightest: #8ea2d9;
$blue-light: #607cca;
$blue-med: #3357bb;
$blue-dark: #1a3ea2;
$blue-darkest: #11296c;


// lightest to darkest
// #8ea2d9
// #607cca
// #3357bb
// #1a3ea2
// #11296c
