$creme: #FFF3DE;
$peach: #FFCC9F;
$navy: #0A0A29;
$darkgreen: #2D4508;
$grey: #58525C;

// table colours
$blue-start: #eaeef8;
$blue-lightest: #c1ccea;
$blue-light: #99abdd;
$blue-med: #4767c1;
$blue-dark: #2d4ea8;
$blue-darkest: #192b5d;
