@import 'colours';
@import 'misc_var';
@import 'mixins';

// FORMS ***************

form .actions input {
  @include form-btn;
  font-family: 'Montserrat', sans-serif; //devise was changing this
}

form .actions input:hover {
  @include btn--hover;
}

.item-form-header {
  max-width: $list_page-width;
  border-top: 5px solid $navy;
}

.item_form_errors {
  color: #eb2027;
  font-weight: bold;
}

.add-item-form {
  max-width: $list_page-width;

   form {
     display: flex;
     flex-direction: column;
     width: 95%;
     margin: auto;
   }

   textarea, input[type="text"] {
     resize: none;
     width: 90%;
     border: 2px solid $navy;
     border-radius: 3px;
   }

   input[type="text"].new-tag-field {
     width: 100px;
     margin: 15px 0;
     padding: 3px;
   }

  input[type="submit"] {
    @include form-btn;
    width: 120px;
    align-self: flex-end;
  }

  input[type="submit"]:hover {
    @include btn--hover;
  }

  input[type="checkbox"] + label {
    margin-right: 10px;
  }

}
