@import 'colours';

html {
  background-color: $creme;
  font-family: 'Montserrat', sans-serif;
  color: $navy;
}

body {
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
  min-height: 85vh;
}

.float-right {
  float: right;
}

/* **** LINKS ***** */

a {
  text-decoration: none;
  font-smoothing: antialiased;
}

a:visited, a:active {
  color: $grey;
}

a:hover {
  color: $navy;
  font-weight: bold;
  transition: 0.5s;
}

a:focus {
  color: $yellow;
}

/* **** /LINKS ***** */


/* **** SITE HEADER ***** */

.header__container {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid $navy;

    h1 {
      font-size: 1.2rem;
    }
}

.site-header__nav-ul {
  display: flex;
  list-style: none;

  li {
    margin: 0 10px;
  }
}

/* **** /SITE HEADER ***** */

/* **** FOOTER ***** */
footer {
  background-color: $peach;
  color: $navy;
  padding: 30px 50px;
  font-size: 0.8rem;

  ol {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 2rem;
  }

  li { // setting these so the icons don't move the footer when they grow
    height: 50px;
    width: 50px;
    line-height: 50px;
  }

  .footer__text {
    float: right;
  }

  a:hover {
    font-size: 1.5em;
    transition: 0.5s;
  }
}
/* **** /FOOTER ***** */


/* **** IMAGES ***** */

figcaption {
  font-size: 0.8rem;
}

.image--large {
  width: 100%;
}

/* **** /IMAGES ***** */
