@import 'colours';

html {
  background-color: $creme;
  font-family: 'Montserrat', sans-serif;
  color: $navy;
}

body {
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
  min-height: 95vh;
}

/* **** SITE HEADER ***** */

.header__container {
    display: flex;

    h1 {
      font-size: 1.2rem;
    }
}

.site-header__nav-ul {
  display: flex;
  list-style: none;

  li {
    margin: 0 10px;
  }
}

/* **** /SITE HEADER ***** */

/* **** FOOTER ***** */
footer {
  background-color: $olive;
  color: $creme;
  padding: 20px 50px;

  ol {
    display: flex;
    list-style: none;
  }
}
/* **** /FOOTER ***** */


/* **** IMAGES ***** */

figcaption {
  font-size: 0.8rem;
}

.image--large {
  width: 100%;
}

/* **** /IMAGES ***** */
