@import 'colours';
@import 'mixins';

html {
  background-color: $creme;
  font-family: 'Montserrat', sans-serif;
  color: $navy;
}

body {
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
  min-height: 85vh;
}

.float-right {
  float: right;
}


form .actions input {
  @include form-btn
}

form .actions input:hover {
  @include btn--hover
}
