@import 'colours';

/* **** SITE HEADER ***** */

.header__container {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid $navy;
    margin-bottom: 50px;

    h1 {
      font-size: 1.2rem;
    }

    h1 a:hover {
      text-shadow: 5px 5px $peach;
      font-weight: bold;
    }
}

.site-header__nav-ul {
  display: flex;

  li {
    margin: 0 10px;
  }

  li a:hover {
    text-shadow: 5px 5px $peach;
  }
}

/* **** /SITE HEADER ***** */
