@import 'colours';
@import 'misc_var';
@import 'mixins';

.user-lists-ul {
  padding-left: 0;

  li {
    line-height: 2rem;
    font-size: 1.1rem;
  }
}

.user_list_table {
  width: $list_page-width;
  margin: 0 0 20px;
  border-collapse: collapse;

  td {
    width: 25%;
    text-align: right;
  }

  td:first-child {
    width: 50%;
    text-align: left;
  }

  tr:nth-child(odd) {
    background-color: #fff;
  }

  tr:nth-last-child(2)  td:nth-child(2) {
    border-bottom: 2px solid $navy;
  }

  a:hover {
    color: $peach;
    transtion: 0.1s ease-in-out;
  }
}

.show-list-btn {
  @include form-btn;
}

.show-list-btn:hover {
  @include btn--hover;
}
