@import 'colours';
@import 'misc_var';

table.accomplist-table {
  width: 95%;
  min-width: 575px;
  max-width: $content-max-width;
  height: calc(width/7.19);
  min-height: 80px;

  td {
    border: 1px solid $darkgreen;
  }

  td.colour--start {
    background-color: $blue-start;
  }

  td.colour--lightest {
    background-color: $blue-lightest;
  }

  td.colour--light {
    background-color: $blue-light;
  }

  td.colour--med {
    background-color: $blue-med;
  }

  td.colour--dark {
    background-color: $blue-dark;
  }

  td.colour--darkest {
    background-color: $blue-darkest;
  }

  td.clickable:hover {
    background-color: $peach;
  }
}
