@import 'colours';
@import 'misc_var';
@import 'mixins';

form.new_user {
  padding: 25px 0;
}

// only style if it's after a form (grabs header button otherwise)
form + a[href="/users/sign_in"] {
  @include secondary-btn;
}

form + a[href="/users/sign_in"]:hover {
  @include btn--hover;
}

.user-lists-ul {
  padding-left: 0;

  li {
    line-height: 2rem;
    font-size: 1.1rem;
  }
}

.user_list_table {
  width: $list_page-width;
  margin: 0 0 20px;

  td {
    width: 25%;
    text-align: right;
  }

  td:first-child {
    width: 50%;
    text-align: left;
  }

  tr:nth-child(odd) {
    background-color: #fff;
  }

  tr:nth-last-child(2)  td:nth-child(2) {
    border-bottom: 2px solid $navy;
  }

  a:hover {
    color: $peach;
    transtion: 0.1s ease-in-out;
  }
}
