@import 'colours';
@import 'misc_var';
@import 'mixins';

form.new_user {
  padding: 25px 0;
}

// only style if it's after a form (grabs header button otherwise)
form + a[href="/users/sign_in"] {
  @include secondary-btn;
}

form + a[href="/users/sign_in"]:hover {
  @include btn--hover;
}

.user-lists-ul {
  padding-left: 0;

  li {
    line-height: 2rem;
    font-size: 1.1rem;
  }
}

.user_list_table {
  max-width: $list_page-width;

  td {
    width: 25%;
  }

  td:first-child {
    width: 50%;
  }
}
