@import 'colours';
@import 'mixins';

form.new_user {
  padding: 25px 0;
}

// only style if it's after a form (grabs header button otherwise)
form + a[href="/users/sign_in"] {
  display: block;
  width: 60px;
  @include secondary-btn;
}

form + a[href="/users/sign_in"]:hover {
  @include btn--hover;
}

form#new_user + a[href="/users/sign_up"] {
  display: block;
  width: 80px;
  @include secondary-btn;
}

form#new_user + a[href="/users/sign_up"]:hover {
  @include btn--hover;
}

a[href="/users/password/new"] {
  display: block;
  width: 185px;
  @include secondary-btn;
}

a[href="/users/password/new"]:hover {
  @include btn--hover;
}

a[href="/users/auth/facebook"] {
  @include form-btn;
  width: 185px;
  margin-top: 25px;
}

a[href="/users/auth/facebook"]:hover {
  @include btn--hover;
}
